In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('./datasets/Bitcoin Historical Data(2010-2022).csv')
data

            Date     Open     High      Low    Close     Volume
0     2010-07-18      0.0      0.1      0.1      0.1         75
1     2010-07-19      0.1      0.1      0.1      0.1        574
2     2010-07-20      0.1      0.1      0.1      0.1        262
3     2010-07-21      0.1      0.1      0.1      0.1        575
4     2010-07-22      0.1      0.1      0.1      0.1       2160
...          ...      ...      ...      ...      ...        ...
4301  2022-04-27  38113.0  39447.0  37869.0  39243.0  426830240
4302  2022-04-28  39243.0  40382.0  38888.0  39748.0  542391872
4303  2022-04-29  39748.0  39919.0  38175.0  38581.0  382904352
4304  2022-04-30  38590.0  38776.0  37596.0  37650.0  248220336
4305  2022-05-01  37642.0  38676.0  37397.0  38461.0  276992736

[4306 rows x 6 columns]

In [5]:
from datetime import datetime

data.columns = [d.lower() for d in data]

In [6]:
data.isna().sum()

date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [7]:
data.date = np.array([datetime.strptime(d, '%Y-%m-%d') for d in data.date])

In [8]:
data.sort_values(by='date', inplace=True)
data

           date     open     high      low    close     volume
0    2010-07-18      0.0      0.1      0.1      0.1         75
1    2010-07-19      0.1      0.1      0.1      0.1        574
2    2010-07-20      0.1      0.1      0.1      0.1        262
3    2010-07-21      0.1      0.1      0.1      0.1        575
4    2010-07-22      0.1      0.1      0.1      0.1       2160
...         ...      ...      ...      ...      ...        ...
4301 2022-04-27  38113.0  39447.0  37869.0  39243.0  426830240
4302 2022-04-28  39243.0  40382.0  38888.0  39748.0  542391872
4303 2022-04-29  39748.0  39919.0  38175.0  38581.0  382904352
4304 2022-04-30  38590.0  38776.0  37596.0  37650.0  248220336
4305 2022-05-01  37642.0  38676.0  37397.0  38461.0  276992736

[4306 rows x 6 columns]

In [11]:
data = data[data.date >= datetime(2011, 12, 30)]
data = data[data.date <= datetime(2019, 11, 23)]
data.reset_index(drop=True, inplace=True)
data

           date    open    high     low   close   volume
0    2011-12-30     4.2     4.3     4.1     4.3    41069
1    2011-12-31     4.3     5.0     4.2     4.7   129731
2    2012-01-01     4.7     5.5     4.6     5.3   108509
3    2012-01-02     5.3     5.5     4.8     5.2    69151
4    2012-01-03     5.2     5.3     4.7     4.9   125170
...         ...     ...     ...     ...     ...      ...
2881 2019-11-19  8207.7  8245.6  8032.8  8145.7   654273
2882 2019-11-20  8145.7  8223.0  8074.2  8099.3   607266
2883 2019-11-21  8099.4  8129.6  7519.7  7627.9   891503
2884 2019-11-22  7627.9  7700.9  6818.5  7272.5  1410646
2885 2019-11-23  7271.6  7342.5  7093.7  7324.1   783178

[2886 rows x 6 columns]

In [12]:
print(data.date.min())
print(data.date.max())
print((data.date.max() - data.date.min()).days)

2011-12-30 00:00:00
2019-11-23 00:00:00
2885