# Librerías

In [1]:
import numpy as np
import pandas as pd

# Lectura de datos

In [2]:
data = pd.read_csv('./consolidated_dataset/tweets.csv', lineterminator='\n')
data_btc = pd.read_csv('./consolidated_dataset/btc_history.csv')

# Preprocesamiento de datos

In [3]:
data_btc = data_btc.loc[data_btc.index.repeat(1000)].reset_index(drop=True)
data['price_change'] = data_btc.price_change
data.dropna(inplace=True)
data

              date  sentiment  price_change
0       2019-05-10     0.0000           1.0
1       2019-05-10     0.0000           1.0
2       2019-05-10     0.0000           1.0
3       2019-05-10     0.2023           1.0
4       2019-05-10    -0.5204           1.0
...            ...        ...           ...
197995  2019-11-23    -0.2732          -1.0
197996  2019-11-23     0.8159          -1.0
197997  2019-11-23    -0.6476          -1.0
197998  2019-11-23     0.0000          -1.0
197999  2019-11-23     0.4939          -1.0

[198000 rows x 3 columns]