In [30]:
import numpy as np
import pandas as pd

In [31]:
data = pd.read_csv('./consolidated_dataset/tweets.csv')
data_btc = pd.read_csv('./consolidated_dataset/btc_history.csv')

In [32]:
data_btc = data_btc.loc[data_btc.index.repeat(1500)].reset_index(drop=True)

In [34]:
data['price_change'] = data_btc.price_change
data.dropna(inplace=True)
data

            date  sentiment  price_change
0     2019-11-22    -0.2382           0.0
1     2019-11-22     0.0000           0.0
2     2019-11-22     0.2263           0.0
3     2019-11-22     0.0000           0.0
4     2019-11-22     0.0000           0.0
...          ...        ...           ...
2995  2019-11-23     0.0000          -1.0
2996  2019-11-23     0.0516          -1.0
2997  2019-11-23     0.5106          -1.0
2998  2019-11-23     0.0000          -1.0
2999  2019-11-23    -0.1901          -1.0

[3000 rows x 3 columns]