# Librerías

In [1]:
import numpy as np
import pandas as pd

# Lectura de datos

In [2]:
data = pd.read_csv('./datasets/tweets.csv', sep=';', on_bad_lines='skip',
                   lineterminator='\n', low_memory=False)
data

,id,user,fullname,url,timestamp,replies,likes,retweets,text\r
0,1.132977e+18,KamdemAbdiel,Abdiel kamdem,NaN,2019-05-27 11:49:14+00,0,0,0,È appena uscito un nuovo video! LES CRYPTOMONN...
1,1.132977e+18,bitcointe,Bitcointe,NaN,2019-05-27 11:49:18+00,0,0,0,Cardano: Digitize Currencies; EOS https://t.co...
2,1.132977e+18,3eyedbran,Bran - 3 Eyed Raven,NaN,2019-05-27 11:49:06+00,0,2,1,Another Test tweet that wasn't caught in the s...
3,1.132977e+18,DetroitCrypto,J. Scardina,NaN,2019-05-27 11:49:22+00,0,0,0,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4,1.132977e+18,mmursaleen72,Muhammad Mursaleen,NaN,2019-05-27 11:49:23+00,0,0,0,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...
...,...,...,...,...,...,...,...,...,...
16889760,1.198262e+18,JacobCanfield,Jacob Canfield,NaN,2019-11-23 15:28:50+00,2,16,3,Happy #FibonacciDay \n\nA while back I created...
16889761,1.198266e+18,Vizique,Vizique,NaN,2019-11-23 15:45:55+00,0,0,0,Bitcoin Suisse Certificates :) https://t.co/nd...
16889762,1.198266e+18,torusJKL,Gal Buki ($torusJKL),NaN,2019-11-23 15:45:56+00,0,0,0,Register now for the early access of the Codug...
16889763,1.198266e+18,Adekunl95628158,Adekunle Daniel,NaN,2019-11-23 15:45:57+00,0,0,0,@btc \n@btc \nDo you know that BTC Baskets isn...
16889764,1.198266e+18,HaraldoXRP,Harry,NaN,2019-11-23 15:45:06+00,0,2,1,$BTC - an update on the longer term view for B...

In [3]:
data = data[['timestamp', 'text\r']]
data = data.rename(columns={'timestamp': 'date', 'text\r': 'text'})
data

,date,text
0,2019-05-27 11:49:14+00,È appena uscito un nuovo video! LES CRYPTOMONN...
1,2019-05-27 11:49:18+00,Cardano: Digitize Currencies; EOS https://t.co...
2,2019-05-27 11:49:06+00,Another Test tweet that wasn't caught in the s...
3,2019-05-27 11:49:22+00,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4,2019-05-27 11:49:23+00,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...
...,...,...
16889760,2019-11-23 15:28:50+00,Happy #FibonacciDay \n\nA while back I created...
16889761,2019-11-23 15:45:55+00,Bitcoin Suisse Certificates :) https://t.co/nd...
16889762,2019-11-23 15:45:56+00,Register now for the early access of the Codug...
16889763,2019-11-23 15:45:57+00,@btc \n@btc \nDo you know that BTC Baskets isn...
16889764,2019-11-23 15:45:06+00,$BTC - an update on the longer term view for B...

# Limpieza de datos

In [4]:
data.isna().sum()

date    0
text    0
dtype: int64

In [5]:
data.date = pd.to_datetime(data.date, format='%Y-%m-%d').dt.date
data = data.sort_values(by='date')
data = data.reset_index(drop=True)
data

                date                                               text
0         2007-04-19  is happily mugging at BTC where she will hook ...
1         2009-01-11                                  Running bitcoin\r
2         2009-01-21  Looking at ways to add more anonymity to bitco...
3         2009-01-27  Thinking about how to reduce CO2 emissions fro...
4         2009-01-29  From: Satoshi Nakamoto - 2009-01-11 22:32 Bitc...
...              ...                                                ...
16889760  2019-11-23  Bitcoin:$7231.27732436\nEthereum:$150.48909214...
16889761  2019-11-23  BTC\n\nfinexの乖離がまだ異常水域です。\n\nペナントの収束タイミングに合わせた...
16889762  2019-11-23  #BTC New Hub, we have relaunch our #NEWYORKCOI...
16889763  2019-11-23  トランザクション収入がまともにないBitcoinさんのマイナーは単価に依存するからこうなるん...
16889764  2019-11-23  $BTC - an update on the longer term view for B...

[16889765 rows x 2 columns]

In [6]:
from datetime import timedelta

current_day = data.date.min()
min_index = 0
count_tweets = 0

n = 2500

# Verificar que hay mínimo n tweets por día
for t in data.itertuples():
    index = t[0]
    d = t[1]

    if current_day == d:
        count_tweets += 1
        continue

    if (count_tweets < n):
        min_index = index + 1

    current_day += timedelta(days=1)
    count_tweets = 1

data = data.loc[min_index:]
data.reset_index(drop=True, inplace=True)

In [7]:
data

                date                                               text
0         2019-05-10  dash/btc: 0.01762\ndash/usd: 112.66\nbtc/usd: ...
1         2019-05-10  $BTC $crypto #BITCOIN $ALTS #ETH #cryptocurren...
2         2019-05-10  Follow &amp; Retweet\nhttps://t.co/SOIv8dxZgU ...
3         2019-05-10  Consultoria financeira afirma que tendências d...
4         2019-05-10  Check out https://t.co/nJ4lXrKa0t for awesome ...
...              ...                                                ...
13567986  2019-11-23  Bitcoin:$7231.27732436\nEthereum:$150.48909214...
13567987  2019-11-23  BTC\n\nfinexの乖離がまだ異常水域です。\n\nペナントの収束タイミングに合わせた...
13567988  2019-11-23  #BTC New Hub, we have relaunch our #NEWYORKCOI...
13567989  2019-11-23  トランザクション収入がまともにないBitcoinさんのマイナーは単価に依存するからこうなるん...
13567990  2019-11-23  $BTC - an update on the longer term view for B...

[13567991 rows x 2 columns]

In [8]:
from cmath import nan
from random import sample, seed

# Quedarse solo con n publicaciones por dia
def keep_n_tweets_per_day(n):
    global data
    seed(12)
    current_date = data.date.min()
    days = []
    a = []

    for t in data.itertuples():
        index = t[0]
        d = t[1]

        if current_date == d:
            a.append(index)
        else:
            current_date += timedelta(days=1)
            try:
                days.extend(sample(a, n))
            except:
                days.extend(a)
            a = [index]

    days.extend(sample(a, n))
    days.sort()

    arr_days = []
    i = 0

    for d in data.itertuples():
        try:
            if d[0] != days[i]:
                arr_days.append(None)
            else:
                arr_days.append(d[1])
                i += 1
        except:
            arr_days.append(None)

    data.date = arr_days
    data = data.dropna()
    data = data.reset_index(drop=True)

In [9]:
keep_n_tweets_per_day(2500)

/tmp/ipykernel_26357/4167299428.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.date = arr_days

In [11]:
import re
from langdetect import detect

english_texts = []

for d in data.itertuples():
    t = d[2]

    try:
        t = re.sub(r'(https|http)?:\/\/(\w|\.|\/|\?|\=|\&|\%)*\b', '', t, flags=re.MULTILINE)
        t = re.sub(r'\$\w+[,]|\@\w+|[,]\@\w+', '', t)

        t = t.replace('#', '').replace('\n', '').replace('\r', '').replace('\b', '').replace(
            '\t', '').replace('\\', ' ').replace('/', ' ').replace('|', ' ')

        t = re.sub(r'  +', ' ', t)

        if detect(t) != 'en':
            english_texts.append(None)
        else:
            english_texts.append(t)
    except:
        english_texts.append(None)

In [12]:
data.text = english_texts
data.dropna(inplace=True)
data.reset_index(drop=True, inplace=True)

In [33]:
d = data.date.min()
c = 0

for a in data.date:
    if a == d:
        c+=1
    else:
        if (c < 1395):
            print(a)
        c = 1
        d += timedelta(days=1)

In [34]:
keep_n_tweets_per_day(1395)

In [35]:
from datetime import datetime

def check_skipped_days():
    x = 0
    arr = np.array([])
    day_before = datetime.now()
    index_before = 0
    min_index = 0

    for t in data.itertuples():
        index = t[0]
        d = t[1]
        diff = 0

        if x == 0:
            day_before, index_before = d, index
            x+=1
            continue

        diff = (d - day_before).days

        if diff > 1:
            arr = np.append(arr, '{} => {} : {} days'.format(index_before, index, diff))
            min_index = index_before

        day_before, index_before = d, index

    return arr, min_index + 1

In [36]:
skipped_days, min_index = check_skipped_days()

print(skipped_days)
print(len(skipped_days))

[]
0

In [37]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

def analyze_sentiments():
    a = 0
    df = pd.DataFrame()
    sentiments = []

    sia = SentimentIntensityAnalyzer()

    for t in data.text:
        x = sia.polarity_scores(t)

        sentiments.append(x['compound'])

    return sentiments

In [38]:
data['sentiment'] = analyze_sentiments()

In [39]:
data

,date,text,sentiment
0,2019-05-10,Bitcoin Cash Technical Analysis: BCH USD subje...,0.0000
1,2019-05-10,So you bought 4 bitcoin?,0.0000
2,2019-05-10,More colleges are offering classes in blockcha...,0.0000
3,2019-05-10,"whale_alert: 1,000 BTC (6,387,933 USD) transfe...",0.0000
4,2019-05-10,"Liquidated BITMEX short on XBTUSD:📉 6,362.50 $...",0.0000
...,...,...,...
276205,2019-11-23,Looking for any lady that will give me attent...,0.9169
276206,2019-11-23,⭐️Overstock’s Former CEO Patrick Byrne Still H...,0.0000
276207,2019-11-23,Stand a chance to financial freedom with binar...,0.8360
276208,2019-11-23,Whatever the price Bitcoin will have the BTC.,0.0000
276209,2019-11-23,TRON $TRX: ➡️ Price (USD) $0.0143314151➡️ Pric...,0.7184

In [38]:
data = data[['date', 'sentiment']]

In [39]:
data.to_csv('./consolidated_dataset/tweets.csv', index=False)