In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('./datasets/tweets.csv', sep=';', on_bad_lines='skip',
                   lineterminator='\n', low_memory=False)
data

,id,user,fullname,url,timestamp,replies,likes,retweets,text\r
0,1.132977e+18,KamdemAbdiel,Abdiel kamdem,NaN,2019-05-27 11:49:14+00,0,0,0,È appena uscito un nuovo video! LES CRYPTOMONN...
1,1.132977e+18,bitcointe,Bitcointe,NaN,2019-05-27 11:49:18+00,0,0,0,Cardano: Digitize Currencies; EOS https://t.co...
2,1.132977e+18,3eyedbran,Bran - 3 Eyed Raven,NaN,2019-05-27 11:49:06+00,0,2,1,Another Test tweet that wasn't caught in the s...
3,1.132977e+18,DetroitCrypto,J. Scardina,NaN,2019-05-27 11:49:22+00,0,0,0,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4,1.132977e+18,mmursaleen72,Muhammad Mursaleen,NaN,2019-05-27 11:49:23+00,0,0,0,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...
...,...,...,...,...,...,...,...,...,...
16889760,1.198262e+18,JacobCanfield,Jacob Canfield,NaN,2019-11-23 15:28:50+00,2,16,3,Happy #FibonacciDay \n\nA while back I created...
16889761,1.198266e+18,Vizique,Vizique,NaN,2019-11-23 15:45:55+00,0,0,0,Bitcoin Suisse Certificates :) https://t.co/nd...
16889762,1.198266e+18,torusJKL,Gal Buki ($torusJKL),NaN,2019-11-23 15:45:56+00,0,0,0,Register now for the early access of the Codug...
16889763,1.198266e+18,Adekunl95628158,Adekunle Daniel,NaN,2019-11-23 15:45:57+00,0,0,0,@btc \n@btc \nDo you know that BTC Baskets isn...
16889764,1.198266e+18,HaraldoXRP,Harry,NaN,2019-11-23 15:45:06+00,0,2,1,$BTC - an update on the longer term view for B...

In [3]:
data = data[['timestamp', 'text\r']]
data = data.rename(columns={'timestamp': 'date', 'text\r': 'text'})
data

,date,text
0,2019-05-27 11:49:14+00,È appena uscito un nuovo video! LES CRYPTOMONN...
1,2019-05-27 11:49:18+00,Cardano: Digitize Currencies; EOS https://t.co...
2,2019-05-27 11:49:06+00,Another Test tweet that wasn't caught in the s...
3,2019-05-27 11:49:22+00,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4,2019-05-27 11:49:23+00,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...
...,...,...
16889760,2019-11-23 15:28:50+00,Happy #FibonacciDay \n\nA while back I created...
16889761,2019-11-23 15:45:55+00,Bitcoin Suisse Certificates :) https://t.co/nd...
16889762,2019-11-23 15:45:56+00,Register now for the early access of the Codug...
16889763,2019-11-23 15:45:57+00,@btc \n@btc \nDo you know that BTC Baskets isn...
16889764,2019-11-23 15:45:06+00,$BTC - an update on the longer term view for B...

In [4]:
data.isna().sum()

date    0
text    0
dtype: int64

In [5]:
import datetime

data.date = np.array(
    [datetime.datetime.strptime(d.split(' ')[0], '%Y-%m-%d') for d in data.date])

In [6]:
data = data.sort_values(by='date')
data = data.reset_index(drop=True)
data

               date                                               text
0        2007-04-19  is happily mugging at BTC where she will hook ...
1        2009-01-11                                  Running bitcoin\r
2        2009-01-21  Looking at ways to add more anonymity to bitco...
3        2009-01-27  Thinking about how to reduce CO2 emissions fro...
4        2009-01-29  From: Satoshi Nakamoto - 2009-01-11 22:32 Bitc...
...             ...                                                ...
16889760 2019-11-23  Bitcoin:$7231.27732436\nEthereum:$150.48909214...
16889761 2019-11-23  BTC\n\nfinexの乖離がまだ異常水域です。\n\nペナントの収束タイミングに合わせた...
16889762 2019-11-23  #BTC New Hub, we have relaunch our #NEWYORKCOI...
16889763 2019-11-23  トランザクション収入がまともにないBitcoinさんのマイナーは単価に依存するからこうなるん...
16889764 2019-11-23  $BTC - an update on the longer term view for B...

[16889765 rows x 2 columns]

In [7]:
data = data.loc[16889765 - 50000:]
data.reset_index(drop=True, inplace=True)
data

            date                                               text
0     2019-11-22                                   @bitrandy $BTC\r
1     2019-11-22  Can anyone explain me how #quantumcomputers ar...
2     2019-11-22  Genuine By Anthony - shopping amazon\nhttps://...
3     2019-11-22  by my estimation when bitcoin is $71,428 one k...
4     2019-11-22                     Now is the time to buy $BTC.\r
...          ...                                                ...
49995 2019-11-23  Bitcoin:$7231.27732436\nEthereum:$150.48909214...
49996 2019-11-23  BTC\n\nfinexの乖離がまだ異常水域です。\n\nペナントの収束タイミングに合わせた...
49997 2019-11-23  #BTC New Hub, we have relaunch our #NEWYORKCOI...
49998 2019-11-23  トランザクション収入がまともにないBitcoinさんのマイナーは単価に依存するからこうなるん...
49999 2019-11-23  $BTC - an update on the longer term view for B...

[50000 rows x 2 columns]

In [8]:
import re
from langdetect import detect

for index, t in enumerate(data.text):
    try:
        t = re.sub(r'(https|http)?:\/\/(\w|\.|\/|\?|\=|\&|\%)*\b', '', t, flags=re.MULTILINE)
        t = re.sub(r'(\s)@\w+', '', t)

        t = t.replace('#', '').replace('\n', '').replace('\r', '').replace('\b', '').replace(
        '\t', '').replace('\\', '').replace('  ', ' ')

        if detect(t) != 'en':
            data = data.drop(index)
        else:
            data.text.at[index] = t
    except:
        data = data.drop(index)

/tmp/ipykernel_9705/3163132027.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.text.at[index] = t

In [9]:
data.reset_index(drop=True, inplace=True)
data

            date                                               text
0     2019-11-22                                     @bitrandy $BTC
1     2019-11-22  Can anyone explain me how quantumcomputers are...
2     2019-11-22  Genuine By Anthony - shopping amazon...amazon ...
3     2019-11-22  by my estimation when bitcoin is $71,428 one k...
4     2019-11-22                       Now is the time to buy $BTC.
...          ...                                                ...
35885 2019-11-23                     A $XMR is worth 0.00696045 BTC
35886 2019-11-23  Top 5 cryptocurrencies Alert Time: 2019-11-23 ...
35887 2019-11-23  Bitcoin:$7231.27732436Ethereum:$150.489092147B...
35888 2019-11-23  BTC New Hub, we have relaunch our NEWYORKCOIN ...
35889 2019-11-23  $BTC - an update on the longer term view for B...

[35890 rows x 2 columns]

In [10]:
def check_skipped_days():
    x = 0
    arr = np.array([])
    day_before = datetime.datetime.now()
    index_before = 0
    min_index = 0

    for index, d in enumerate(data.date):
        diff = 0

        if x == 0:
            day_before, index_before = d, index
            x+=1
            continue

        diff = (d - day_before).days

        if diff > 1:
            arr = np.append(arr, '{} => {} : {} days'.format(index_before, index, diff))
            min_index = index_before

        day_before, index_before = d, index

    return arr, min_index + 1

In [11]:
skipped_days, min_index = check_skipped_days()

print(skipped_days)
print(len(skipped_days))

[]
0

In [12]:
def get_date_data():
    print(data.date.min())
    print(data.date.max())
    print((data.date.max() - data.date.min()).days)
    return data.date.min()

In [13]:
min_date = get_date_data()

2019-11-22 00:00:00
2019-11-23 00:00:00
1

In [14]:
data = data.loc[min_index:]
data.reset_index(drop=True, inplace=True)
data

            date                                               text
0     2019-11-22  Can anyone explain me how quantumcomputers are...
1     2019-11-22  Genuine By Anthony - shopping amazon...amazon ...
2     2019-11-22  by my estimation when bitcoin is $71,428 one k...
3     2019-11-22                       Now is the time to buy $BTC.
4     2019-11-22  Prices update in $USDT every 1 hour:$BTC - 740...
...          ...                                                ...
35884 2019-11-23                     A $XMR is worth 0.00696045 BTC
35885 2019-11-23  Top 5 cryptocurrencies Alert Time: 2019-11-23 ...
35886 2019-11-23  Bitcoin:$7231.27732436Ethereum:$150.489092147B...
35887 2019-11-23  BTC New Hub, we have relaunch our NEWYORKCOIN ...
35888 2019-11-23  $BTC - an update on the longer term view for B...

[35889 rows x 2 columns]

In [15]:
day_before = min_date
min_index = 0
count_tweets = 0

for index, d in enumerate(data.date):
    if day_before == d:
        count_tweets += 1
        continue

    if (count_tweets < 1500):
        min_index = index + 1

    day_before += datetime.timedelta(days=1)
    count_tweets = 0

In [16]:
data = data.loc[min_index:]
data.reset_index(drop=True, inplace=True)
data

            date                                               text
0     2019-11-22  Can anyone explain me how quantumcomputers are...
1     2019-11-22  Genuine By Anthony - shopping amazon...amazon ...
2     2019-11-22  by my estimation when bitcoin is $71,428 one k...
3     2019-11-22                       Now is the time to buy $BTC.
4     2019-11-22  Prices update in $USDT every 1 hour:$BTC - 740...
...          ...                                                ...
35884 2019-11-23                     A $XMR is worth 0.00696045 BTC
35885 2019-11-23  Top 5 cryptocurrencies Alert Time: 2019-11-23 ...
35886 2019-11-23  Bitcoin:$7231.27732436Ethereum:$150.489092147B...
35887 2019-11-23  BTC New Hub, we have relaunch our NEWYORKCOIN ...
35888 2019-11-23  $BTC - an update on the longer term view for B...

[35889 rows x 2 columns]

In [23]:
day_before = min_date
count_tweets = 0

for index, d in enumerate(data.date):
    if day_before == d:
        if count_tweets == 1500:
            data = data.drop(index)
            continue
        count_tweets += 1
    else:
        day_before += datetime.timedelta(days=1)
        count_tweets = 0

In [24]:
data.reset_index(drop=True, inplace=True)
data

           date                                               text
0    2019-11-22  Can anyone explain me how quantumcomputers are...
1    2019-11-22  Genuine By Anthony - shopping amazon...amazon ...
2    2019-11-22  by my estimation when bitcoin is $71,428 one k...
3    2019-11-22                       Now is the time to buy $BTC.
4    2019-11-22  Prices update in $USDT every 1 hour:$BTC - 740...
...         ...                                                ...
2996 2019-11-23  Stay away from harm.Read the 17 Ways To Avoid ...
2997 2019-11-23          Free Btc Home at WorkMessage me or SMS pm
2998 2019-11-23  Long/Short Bitcoin moves with up to 100x Lever...
2999 2019-11-23  Thieves steal $4k loot from Bitcoin ATM but le...
3000 2019-11-23  Top 5 cryptocurrencies Alert Time: 2019-11-23 ...

[3001 rows x 2 columns]

In [22]:
xyz = datetime.datetime(2019,11,23)
asd=0
for d in data.date:
    if d != xyz:
        continue
    asd+=1
asd

1501

In [25]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

def analyze_sentiments():
    a = 0
    sentiment = np.array([])

    sia = SentimentIntensityAnalyzer()

    for t in data.text:
        x = sia.polarity_scores(t)

        sentiment = np.append(sentiment, x['compound'])

    return sentiment

In [28]:
data['sentiment'] = analyze_sentiments()
data = data[['date', 'sentiment']]
data

           date  sentiment
0    2019-11-22    -0.2382
1    2019-11-22     0.0000
2    2019-11-22     0.2263
3    2019-11-22     0.0000
4    2019-11-22     0.0000
...         ...        ...
2996 2019-11-23     0.0516
2997 2019-11-23     0.5106
2998 2019-11-23     0.0000
2999 2019-11-23    -0.1901
3000 2019-11-23     0.4588

[3001 rows x 2 columns]

In [29]:
data.to_csv('./consolidated_dataset/tweets.csv')